@function rel($licznik, $mianownik) {
	$wynik_procent: ($licznik/$mianownik)*100%;
	@return $wynik_procent;
}

html {
	font-size: 20px;
}

@font-face {
	font-family: "friday13sh";
	src: local("friday13sh"), url("../fonts/friday13/friday13sh-webfont.woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "friday13v12";
	src: local("friday13v12"), url("../fonts/friday13/friday13v12-webfont.woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "doctor_satan";
	src: local("doctor_satan"), url("../fonts/doctor_satan/doctor_satan-webfont.woff");
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
	position: relative;
	font-family: "friday13v12";
}

body {
	background-color: black;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

header {
	>.container {
		display: flex;
		height: 64px;
		display: flex;
		justify-content: center;
		align-items: center;
		>.title_logo {
			background-image: url(../images/hm_tittle3.png);
			height: 50px;
			//width: rel(150,1200);
			width: 150px;
			background-size: cover;
			background-position-y: -5px;
		}
	}
}


/* --------------------------------- */

.intro {
	>.container {
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		min-height: 550px;
		width: 100%;
		>.question {
			//background-image: url(../images/bg_1.jpg);
			font-family: "doctor_satan";
			margin-top: 10%;
			margin-bottom: 5%;
			background-color: transparent;
			font-size: 3rem;
			text-align: center;
			width: 50%;
			background-size: cover;
			background-position: center;
			color: red;
		}
		>.play_me {
			//width: rel(100,1200);
			width: 100px;
			height: 50px;
			font-size: 20px;
		}
		>.play_me:hover {
			color: red;
		}
	}
}

.category_btns {
	display: none;
	>.container {
		height: 32px;
		>* {
			display: block;
			position: relative;
		}
		>.category_pack {
			float: left;
			width: rel(370, 1200);
			display: flex;
			>h2 {
				font-size: 1rem;
				margin-left: 15px;
			}
			>.category_type {
				left: 10px;
				height: 25px;
				width: rel(150, 270);
				.first_lab {
					color: yellow;
					font-weight: bold;
					letter-spacing: 3px;
				}
			}
		}
		>.score_board {
			float: left;
			height: 32px;
			width: rel(400, 1200);
			//border: 1px dotted black;
			display: flex;
			justify-content: space-around;
			>.win_rate {
				color: lime;
			}
			>.win_count {
				color: lime;
				font-family: cursive;
			}
			>.lose_rate {
				color: red;
			}
			>.lose_count {
				color: red;
				font-family: cursive;
			}
			>* {
				width: 20%;
				height: 32px;
				font-size: 1rem;
				font-weight: bold;
				//border: 1px solid black;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		>.surrender {
			float: left;
			height: 32px;
			width: 32px;
			background-image: url(../images/white_flag_icon.png);
			background-size: cover;
		}
		>.refresh {
			float: right;
			height: 32px;
			width: 32px;
			background-image: url(../images/refresh_icon.png);
			background-size: cover;
		}
	}
}


/* --------------------------------- */

.score {
	display: none;
	>.container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 350px;
		>.playground {
			width: 100%;
			height: 250px;
			display: flex;
			justify-content: space-between;
			>.category_warning {
				width: rel(250, 1200);
				color: transparent;
				text-align: center;
			}
			>.hangman_outer {
				height: 250px;
				//width: rel(200,1200);
				width: 200px;
				overflow: hidden;
				position: relative;
				float: left;
				transition: all 1s ease;
				display: flex;
				justify-content: center;
				>.hangman_inner {
					height: 250px;
					width: 150px;
					overflow: hidden;
					position: absolute;
					transition: all 1s ease;
					border: 5px solid grey;
				}
			}
			>.player {
				width: rel(250, 1200);
				min-height: 100px;
				//max-height:200px;
				align-self: flex-end;
				color: aqua;
				border: 3px solid aqua;
				text-align: center;
				display: flex;
				flex-direction: column;
				>* {
					//width: 100%;
				}
				>.double_buttons {
					display: flex;
					flex-direction: row;
					>.scores,
					.delete_players {
						width: 50%;
						font-size: 0.5rem;
					}
					>.delete_players {
						color: crimson;
					}
				}
				>span {
					color: aqua;
					font-family: cursive;
				}
				>ul {
					min-height: 30px;
					max-height: 120px;
					overflow-y: scroll;
					text-align: left;
					font-weight: bold;
					text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
					>li {
						list-style-type: square;
						font-family: cursive;
						font-weight: bold;
						text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
					}
				}
				>input {
					text-align: center;
				}
			}
		}
		>.life {
			height: 25px;
			width: 100%;
			display: flex;
			justify-content: center;
			>.heart {
				height: 100%;
				//width: rel(25,1200);
				width: 25px;
				background-image: url(../images/heart.jpg);
				background-size: cover;
			}
			>.life_count {
				height: 100%;
				width: rel(25, 1200);
				font-size: 1.5rem;
				font-weight: bold;
				display: flex;
				justify-content: center;
				align-items: center;
				font-weight: bold;
				color: darkred;
				font-family: cursive;
				text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
			}
		}
		>.letters {
			height: 75px;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			>.square {
				width: 50px;
				height: 50px;
				margin: 0 10px;
				font-size: 1.5rem;
				background-color: grey;
				border: 1px solid black;
			}
		}
	}
}


/* --------------------------------- */

.typing {
	display: none;
	>.container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40px;
		>.selected {
			background-color: white;
			height: 40px;
			//border: 0px solid transparent;
			//width: rel(50,1200);
			width: 50px;
			margin-right: 15px;
			border: 1px solid black;
			text-transform: uppercase;
		}
		>.accept {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 40px;
			//width: rel(50,1200);
			width: 50px;
			letter-spacing: 1px;
		}
	}
}


/* --------------------------------- */

.keyboard {
	display: none;
	>.container {
		height: 175px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		>.row {
			width: 100%;
			height: 50px;
			display: flex;
			justify-content: center;
			>button {
				width: rel(50, 1200);
				height: 100%;
				margin: 0 rel(10, 1200);
				border-radius: 50%;
				font-family: "friday13sh";
			}
		}
	}
}

.mobile {
	display: none;
	>.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 10px;
	}
	.second_lab {
		color: pink;
		font-weight: bold;
		letter-spacing: 3px;
	}
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.row>button {
	font-size: 1rem;
}


/* --------------------------------- */

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 1rem;
}


/* --------------------------------- */

.old_path {
	background-image: url(../images/hangman_slides.png);
}

.new_path {
	background-image: url(../images/hm_win.png);
}


/* --------------------------------- */

.surrender:hover::after {
	padding: 1px;
	content: "surrender";
	background-color: yellow;
	position: absolute;
	top: -20px;
	left: -15px;
}

.refresh:hover::before {
	padding: 3px;
	content: "refresh";
	background-color: yellow;
	position: absolute;
	top: -20px;
	left: -10px;
}

.first_lab:hover::after {
	padding: 3px;
	content: "select category";
	color: black;
	background-color: yellow;
	position: absolute;
	top: -20px;
	left: -15px;
	font-size: 0.5rem;
}

.animate_c_w {
	animation-name: blinking;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-direction: alternate-reverse;
}

@keyframes blinking {
	0% {
		color: transparent;
		/*border: 5px solid transparent*/
	}
	100% {
		color: yellow;
		/*border: 5px solid yellow*/
	}
}

@media only screen and (min-width: 600px) {
	.view_1 {
		display: block;
	}
	.view_2 {
		display: none;
	}
}

@media only screen and (max-width: 600px) {
	html {
		font-size: 12px;
	}
	.view_1 {
		display: none;
	}
	.view_2 {
		display: block;
	}
}
